


#logo{line-height: 77px;height: 77px;}
#logo p{padding-left: 280px;font-size:24px;}
#logo h1{position: absolute;top: 0;}
#logo ul li{float: left;width: 130px;height: 38px;line-height: 38px;font-size: 18px;text-align: center;margin-left: 50px;}
#logo ul li.active{background: #f60;}
#logo ul li.active a{color: #fff;}


#content .right .pinkbox{position: relative;transform: translateX(-5px);}
#content .right .white{transform: rotate(10deg);position: absolute;top: -2px;right: 20px;}
#content .right .small{transform: rotate(10deg);position: absolute;top: -2px;right: -10px;}
aside{width: 300px;}
aside .picicon{width: 40px;height: 40px;background: url(../images/fix_box_icon_160622.png) 0 -40px;}
aside .picicon2{width: 40px;height: 40px;background: url(../images/fix_box_icon_160622.png) 0 -80px;}
aside .picicon3{width: 40px;height: 40px;background: url(../images/fix_box_icon_160622.png) 0 -120px;}
aside .picicon4{width: 40px;height: 40px;background: url(../images/fix_box_icon_160622.png) 0 -160px;}
aside .picicon5{width: 40px;height: 40px;background: url(../images/fix_box_icon_160622.png) 0 -200px;}
aside .pic img{width: 270px;height: 140px;margin-bottom: 20px;margin-left: 15px;}

#right{width: 880px;}
#right .title,#right .caption{height: 55px;line-height: 55px;}
#right .checklis{width: 20px;height: 20px;border: 1px solid blanchedalmond;background: #fff;outline: none;transform: translateY(5px);}
#right .caption span{margin-right: 180px;}
#right .caption span:first-of-type{margin-left: 160px;}
#right .content .pic{border: 1px solid rgb(192, 167, 167);width: 150px;height: 150px;}
#right .content ul li{border-bottom: 2px solid #ccc;}
#right .content ul li:first-child{padding-top: 15px; border-top: 5px solid #ccc}
#right .content ul li .del{position: relative;width: 100px;height: 172px;}
#right .content ul li .del .down{position: absolute;bottom: 0;left:0 ;}
#right .pay{height: 60px;border:1px solid #ccc;line-height: 60px;margin: 30px 0;padding-left:20px;padding-right: 0;}
#right  #addbutton{width: 100px;height: 62px;border: 0;transform: translateY(-1px); background: #f60;color: #fff;font-weight: bold;z-index: 9999;}
#right i{font-style: normal;}

#checkalldown{ transform: translateY(20px) !important;}


#confirm{width: 480px;height: 280px;border: 2px solid #bebebe;box-shadow: 2px 2px 2px rgb(94, 87, 87);position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);display: none;}
#confirm span{line-height: 42px}
#confirm .del{line-height: 38px;font-size: 30px;}
#confirm img{width: 100px;height: 100px;}
#confirm .true,#confirm .false{width: 120px;height: 40px;}

#Easteregg{width: 400px;height: 400px; position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);display: none;}
#Easteregg img{border-radius: 100%}
#Easteregg p{font-size: 38px;position: absolute;left: 50%;margin-left: -95px; bottom:140px;width: 250px;color: #fff;}
